    <!--bottom nav
    <nav class="navbar navbar-dark bg-dark">
        <h6 class="display-6 navbar-text">&copy; Shaheen Kaipally </h6>
    </nav>
-->
<!-- Facebook -->
<nav class=" fixed-bottom" style="">
<a  href="https://github.com/shaheenkaipally" target="_blank" role="button" style="color:cyan;" ><i class="fab fa-github fa-lg"></i></a>

<br>
<br>

<a  href="https://www.linkedin.com/in/shaheen-kaipally/" target="_blank" role="button" style="color: cyan;"
  ><i class="fab fa-linkedin fa-lg"></i></a>
  <br>
  <br>
<!-- Twitter -->
<a  href="https://twitter.com/not_shaheen" target="_blank" role="button" style="color: cyan;"
  ><i class="fab fa-twitter fa-lg"></i
></a>
<br>
<br>
<a  href="https://dev-aestheticallywolfy.pantheonsite.io/" target="_blank" role="button" style="color: cyan;"
  ><i class="fas fa-camera-retro fa-lg"></i></a>

  <br>
<br>
</nav>