    <!--bottom nav
    <nav class="navbar navbar-dark bg-dark">
        <h6 class="display-6 navbar-text">&copy; Shaheen Kaipally </h6>
    </nav>
-->
<!-- Facebook -->
<nav class=" fixed-bottom" >
<a  href="#!" role="button"
  ><i class="fab fa-facebook-f fa-lg"></i
></a>

<!-- Twitter -->
<a  href="#!" role="button"
  ><i class="fab fa-twitter fa-lg"></i
></a>

<!-- Google -->
<a  href="#!" role="button"
  ><i class="fab fa-google fa-lg"></i
></a>

<!-- Instagram -->
<a  href="#!" role="button"
  ><i class="fab fa-instagram fa-lg"></i
></a>
</nav>