<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>


        <!-- main content-->
        <main class="container">
            <div class="jumbotron " align="center ">
                <h1 class="display-4 ">About Me</h1>
                <img src="Assets/images/profilepicture.jpg " alt="Profile Picture " width="200 " height="200 " style="margin:50px 0px">
                <p>
                    I am bachelor in computer engineering from Gujarat Technological University. I am very passionate about video games and always wondered what goes on behind the making of these games. Hence, i opted for game programming fast track course in Centennial
                    College.
                </p>
                <p align="left">Programming Languages known:</p>
                <ul align="left">
                    <li>C</li>
                    <li>C++</li>
                    <li>Android</li>
                    <li>PHP</li>
                    <li>Python</li>
                    <li>JavaScript</li>
                </ul>
                <a href="Assets/images/shaheencv.pdf" class="btn-1 outer shadow hover-in-shadow" view>Download Resume</a>
            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>