<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>


        <!-- main content-->
        <main class="container" >
            <div class="jumbotron" align="center">
                <h1 class="display-4 ">About Me</h1>
                
                <img src="Assets/images/profilepicture.jpg " alt="Profile Picture " width="250 " height="250 " style="margin:50px 0px" class="rounded float">


                <div class="wrapper" style="font-family: monospace;">
                    <div class="roles">
                        <div>
                            I am a web developer.
                        </div>
                      
                        <div>
                            I am a game programmer.
                        </div>
                      
                        <div>
                            I am a student.
                        </div>

                        <div>
                            I am a software developer.
                        </div>
                      
                        <div>
                            I am an aspiring individual.
                        </div>
                    </div>
                  </div>

<br>
<br>
<br>

                <p style="font-size: large;" class="text-justify" class="text-center"  >
                    I am bachelor in computer engineering from Gujarat Technological University. I am very passionate about video games and always wondered what goes on behind the making of these games. Hence, i opted for game programming fast track course in Centennial
                    College.
                </p>
                <br>
                <br>
                <br>
                <h4 style="color: black;">Achievements</h4>
                <ul style="list-style: none;">
                    <li>Stood 3rd place in “code invasion” technical event held at indus university</li>
                    <li>Secured first rank in technical quiz on digital electronics held at ljiet</li>
                </ul>
                <br>
                <br>
                <br>
                <h4 style="color: black;">Education</h4>
                <ul style="list-style: none;">
                    <li>P.G. Diploma- Game Programming (Centennial College): Jan 2021- April 2022</li>
                    <li>Bachelor in Computer Engineering (LJIET): 2015-2019, 7.45 CGPA</li>
                </ul>
                <br>
                <br>
                <br>
                <h4 style="color: black;">Certifications</h4>
                <ul style="list-style: none;">
                    <li>Core and Advance Python with Django: January 2020 to Present</li>
                    <li>Core PHP with WordPress: February 2016 to Present</li>
                    <li>AWS Training: July 2020 to Present</li>
                </ul>
                <br>
                <br>
                <br>    
                <a href="Assets/images/shaheencv.pdf" style="color: cornflowerblue;"><b>Download Resume</b></a>
            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>