<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>


        <!-- main content-->
        <main class="container">
            <h1 class="display-4 " style="color:rgb(204, 204, 204);" align="center ">Portfolio Website
            </h1>
            <div class=" jumbotron " style="width: 100%; margin: 200px auto; background-image: url('Assets/images/bg2.jpg');">
                <h1 class="display-4 " style="color:rgb(0, 0, 0);" align="center ">I am Shaheen Kaipally
                </h1>
                <h2 class=" display-9 " style="color:rgb(206, 206, 206); " align="center ">“Start by doing what’s necessary, then what’s possible, and suddenly you are doing the impossible.” <br> - George Miller
                    </h1>
            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>