<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

    
        
    
        <!-- main content-->
        <main class="center">


          
            
          <div class="Menu">
            <ul class="Menu-list" data-offset="10">
              <li class="Menu-list-item" data-offset="20" onclick>
              About Me
                <span class="Mask" ><span><a href="/about">About Me</a></span></span>
                <span class="Mask" ><span><a href="/about">About Me</a></span></span>
              </li>
              <li class="Menu-list-item" data-offset="16" onclick>
                Projects
                <span class="Mask"><span><a href="project">Projects</a></span></span>
                <span class="Mask"><span><a href="project">Projects</a></span></span>
              </li>
              <li class="Menu-list-item" data-offset="12" onclick>
                Skills
                <span class="Mask"><span><a href="services">Skills</a></span></span>
                <span class="Mask"><span><a href="services">Skills</a></span></span>
              </li>
              <li class="Menu-list-item" data-offset="8" onclick>
                Contact Me
                <span class="Mask"><span><a href="contact">Contact Me</a></span></span>
                <span class="Mask"><span><a href="contact">Contact Me</a></span></span>
              </li>
            </ul>
          </div>

            
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>