<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>


        <!-- main content-->
        <main class="container">
            <div class="jumbotron" align="center">
                <h1 class="display-4">My Project</h1>
                
            </div>



            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Photography Portfolio
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      A portfolio website built using WordPress
                      <br/><br/>
                      <button onclick="window.open('https://dev-aestheticallywolfy.pantheonsite.io/', '_blank')">
                        Link
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        CRUD MERN
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      •	Built a website using ReactJs, ExpressJs and NodeJs.<BR/>
                      •	The website demonstrates CRUD operations using MongoDB as database.
                      <br/><br/>
                      <button onclick="window.open('https://github.com/shaheenkaipally/crudmern', '_blank')">
                        Link
                      </button>

                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Multiplayer FPS game
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      •	Created a simple 3D first person shooter game using Unity3D and c#.<br/>
                      •	The game can be played by multiple players across several computers.
                      

                    </div>
                  </div>
                </div>
              </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>