<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>


        <!-- main content-->
        <main class="container">
            <div class="jumbotron" align="center">
                <h1 class="display-4">My Project</h1>
                <h4 class="display-9">Guru-Student Android App </h1>
                    <img src="Assets/images/project.jpg " alt="Profile Picture " width=20% height=20% style="margin:30px 0px">
                    <p>
                        Guru-Student app is an android base application which is an interactive model between teachers and enthusiastic students where the “GURU” will share study materials to the student via post supported in all media format be it audio, video or documents.
                        As it is an interactive model it will allow posting queries and solutions by the users. The data will be stored in Firebase.
                    </p>
            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>