<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>
<main class="container" >
    <h4 class="display-4">Skillset</h4>
    <div id="wrapper" class="center" >
        <div class="chart">
            
            <table id="data-table" border="1" cellpadding="10" cellspacing="0" summary="skillset" >
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                        <th scope="col">CSS+HTML</th>
                        <th scope="col">NodeJS</th>
                        <th scope="col">Java</th>
                        <th scope="col">Python</th>
                        <th scope="col">Android</th>
                        <th scope="col">Unity</th>
                        <th scope="col">Adobe Photoshop</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>		
                        <td>75</td>
                        <td>50</td>
                        <td>50</td>
                        <td>60</td>
                        <td>50</td>
                        <td>75</td>
                        <td>25</td>
                       
          
                    </tr>
                </tbody>
            </table></div>
            <div  style="color: azure;" id="wrapper">
            <h4 class="display-4">Other Skills</h4>
            <ul>
                <li>Wordpress</li>
                <li>PHP</li>
                <li>Blender</li>
                <li>Adobe Premier Pro</li>
                <li>Adobe After Effects</li>
                <li>C++</li>
                <li>C#</li>
                <li>AWS</li>
                <li>GitHub</li>

            </ul>
        </div> 
        </div>
    
</main>
        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>