<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>


        <!-- main content-->
        <main class="container">

            <div class=" jumbotron ">
                <h1 class="display-4 " align="center">Services
                </h1>
                <ul>
                    <img src="Assets/images/unitygame.jpg " alt="service image" width=20% height=20% style="margin:50px 0px">
                    <li>Game Development
                        <ul>
                            <li>I will develop a game in unity.</li>
                        </ul>
                    </li>
                    <img src="Assets/images/gameassets.jpg " alt="service image " width=20% height=20% style="margin:50px 0px">
                    <li>Game Assets

                        <ul>
                            <li>I will desgin assets for your game like character, soundtrack, texture etc.</li>
                        </ul>
                    </li>
                    <img src="Assets/images/wordpresswebsite.jpg " alt="service image " width=20% height=20% style="margin:50px 0px">
                    <li>Wordpress website
                        <ul>
                            <li>I will desgin and deploy your website on wordpress.</li>
                        </ul>
                    </li>
                    <img src="Assets/images/androidapp.png " alt="service image" width=20% height=20% style="margin:50px 0px">
                    <li>Android Application
                        <ul>
                            <li>I will develop an android application.</li>
                        </ul>
                    </li>
                </ul>

            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>